@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shadows+Into+Light&display=swap');

html {
    height: 100%;
}

body {
    background-image: url("images/field.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
    color: navy;
    margin: 10px 0;
}

.field {
    height: 610px;
    width: 610px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: url("images/thor.cur"), auto;
}

.hole {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: rgb(127, 255, 0, 0.3);
    box-sizing: border-box;
}

.mole {
    height: 175px;
    width: 175px;
    border: 1px solid white;
    background-image: url("images/mole.png");
    background-size: cover;
    box-sizing: border-box;
}

.babymole {
    height: 175px;
    width: 175px;
    border: 1px solid white;
    background-image: url("images/baby_mole.png");
    background-size: cover;
    box-sizing: border-box;
}

.goldenmole {
    height: 175px;
    width: 175px;
    border: 1px solid white;
    background-image: url("images/golden_mole.jpg");
    background-size: cover;
    box-sizing: border-box;
}

.bomb {
    height: 175px;
    width: 175px;
    border: 1px solid white;
    background-image: url("images/bomb.jpeg");
    background-size: cover;
    box-sizing: border-box;
}

#mainboard {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 606px;
    height: 150px;
}

.menu {
    height: 125px;
    width: 175px;
    font-family: 'Gloria Hallelujah', cursive;
}

.menu:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    cursor: pointer; 
}

h3 {
    font-size: 25px;
    margin: 5px 0;
}

.menu:nth-child(2) > div {
    font-size: 25px;
    font-weight: bolder;
    transition: transform .2s;
}

#start:hover, #reset:hover {
    transform: scale(1.5);
    color: maroon;
}

footer {
    text-align: center;
    padding-top: 20px;
    margin-top: 150px;
}

a {
    text-decoration: none;
    color:black;
}

.menu:nth-of-type(2n + 1) {
    color: orangered;
}

#instruction {
    width: 610px;
    height: 884px;
    font-family: 'Shadows Into Light', cursive;  
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: maroon;
    margin-top: 150px;
}

#board {
    background-image: url("images/board.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 610px;
    border-radius: 20px;
    color: white;
}

#board > p {
    font-size: 25px;
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#objects {
    display: flex;
    flex-wrap: wrap;
}

.objects {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.objects > div {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.objects > p {
    height: 25px;
    width: 400px;
    margin: 0;
    font-size: 25px; 
}
